*.DS_Store
.texpadtmp/
index.pdf
index.tex
README.tex
README.pdf
Resources.tex
Resources.pdf
Assignments.tex
Assignments.pdf
old_course_files/
Statistics.tex
Statistics.pdf
general_course_materials/~$grading breakdown.xlsx
presentations/*
